<section>
  <p>Hi, I'm <a href="https://twitter.com/martinbjeldbak">Martin Bjeldbak Madsen</a>!</p>
  {% include asides/social/picture.html %}
  <p>You can read more about me on my <a href="/about/">about</a> page. To see what I'm working on, check out my GitHub page <a href="https://github.com/fapper">here</a>.</p>
  <p>My resume can be found <a href="cv.pdf">here</a>.</p>
  <div class="social-icons">
    {% include asides/social/facebook.html %}
    {% include asides/social/linkedin.html %}
    {% include asides/social/googleplus.html %}
    {% include asides/social/github.html %}
    {% include asides/social/twitter.html %}
  </div>
</section>
