<section>
  <h1><a href="#">martinbmadsen.dk</a></h1>
  <p>The website of me, <a href="https://google.com/+MartinMadsen1">Martin Madsen</a>.</p>
  <p>You can read more about me on my <a href="/about/">about</a> page. To see what I'm working on, check out my GitHub page <a href="https://github.com/fapper">here</a>.</p>
  <div class="social-icons">
    {% include asides/social/facebook.html %}
    {% include asides/social/linkedin.html %}
    {% include asides/social/googleplus.html %}
    {% include asides/social/github.html %}
    {% include asides/social/twitter.html %}
    <a href="/atom.xml"><img src="/images/social/rss.png" alt="RSS" /></a>
  </div>
</section>
