<section>
  <h1><a href="#">martinbmadsen.dk</a></h1>
  <p>The website of me, <a href="https://google.com/+MartinMadsen1">Martin Madsen</a>.</p>
  <p>You can read more about me on my <a href="/about/">about</a> page. To see what I'm working on, check out my GitHub page <a href="https://github.com/fapper">here</a>.</p>
  <div class="social-icons">
    <a href="https://www.facebook.com/fapper"><img src="/images/icons/facebook.png" alt="Facebook" /></a>
    <a href="http://www.linkedin.com/in/martinbmadsen"><img src="/images/icons/linkedin.png" alt="LinkedIn" /></a>
    <a href="https://google.com/+MartinMadsen1"><img src="/images/icons/googleplus.png" alt="Google+" /></a>
    <a href="https://github.com/Fapper/"><img src="/images/icons/github.png" alt="Github" /></a>
    <a href="https://twitter.com/Fapper"><img src="/images/icons/twitter.png" alt="Twitter" /></a>
    <a href="/atom.xml"><img src="/images/icons/rss.png" alt="RSS" /></a>
  </div>
</section>
