// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

$header-font-size: 1em;
$header-padding-top: 1em;
$header-padding-bottom: 1em;

$max-width: 100%;
$indented-lists: true;

// Padding used for layout margins
$pad-min: 18px;
$pad-narrow: 25px;
$pad-medium: 35px;
$pad-wide: 200px; // Post padding


// Navbar
$head-hov-color: #9E0000;
$nav-bgcolor: #F2F2F2;
$nav-font-size: 0.7em;

// Sidebar widths used in media queries
$sidebar-width-medium: 240px;
$sidebar-pad-medium: 15px;
$sidebar-pad-wide: 20px;
$sidebar-width-wide: 300px;

// Header
$header-left-width: 50%;
$header-sep-color: #FFFFFF;
$header-sep-height: 10px;
$header-sep-color: #888;
